@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: inter;
  src: url(../font/Inter\ Regular.otf);
}
@font-face {
  font-family: estedadLight;
  src: url(../font/Estedad-Light.ttf);
}
@font-face {
  font-family: estedadBold;
  src: url(../font/Estedad-Bold.ttf);
}
@font-face {
  font-family: kalamehbold;
  font-weight: 700;
  src: url(../font/Kalameh-Bold.ttf);
}
@font-face {
  font-family: estedadRegular;
  font-weight: 400;
  src: url(../font/Estedad-Regular.ttf);
}
@font-face {
  font-family: kalamehlight;
  src: url(../font/Kalameh-Light.ttf);
}
@font-face {
  font-family: estedadMedium;
  font-weight: 500;
  src: url(../font/Estedad-Medium.ttf);
}
.item::after {
  content: "";
  position: absolute;
  top: 30px;
  width: 24px;
  height: 0;
  right: 40%;
  background-image: url(../img/svg/lineUnderItemMenu.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  transition: height 0.4s ease;
}
.item:hover::after {
  height: 4px;
}
@keyframes scroll-Ball {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 10px;
  }
}
.scroll-animation {
  animation: 2s linear 0s infinite scroll-Ball;
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: url(../img/imageHeroMobile.png);
    background-repeat: no-repeat;
    background-size: 100vw 100%;
  }
  .explainSectionHero {
    direction: rtl;
  }
}
.txtGra {
  background: -webkit-linear-gradient(
    180deg,
    #ff8000 0%,
    #ff6c00 46.35%,
    #ff5500 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-card {
  background: linear-gradient(180deg, #ff8000 0%, #ff6c00 46.35%, #ff5500 100%);
}
.deco {
  text-decoration: line-through;
  text-decoration-color: #757575;
}
.gradDiscount {
  background: linear-gradient(79.77deg, #e31c40 0%, #f64c4c 100%);
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}